<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col">
                    <h1 class=" text-white">GOfolio</h1>
                    <!--<img class="logo" src="static/img/logo-white.svg" alt="">-->
                </div>
                <div class="col">
                    <h5 class="text-white">Brand</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'newproject' %}">New Project</a></li>
                        <li><a href="{% url 'login' %}">Logout</a></li>
                        
                    </ul>
                </div>
                <div class="col">
                    <h5 class="text-white">More</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Warranty</a></li>
                    
                    </ul>
                </div>
                <div class="col">
                    <h5 class="text-white">Contact</h5>
                    <ul class="list-unstyled">
                        <li>Address: P-A-P</li>
                        <li>Email: dieuyelj@gmail.com</li>
                        <li>Phone: (509) 3767-66-53</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">© 2022 copyright all right reserved | Designed with <i
                        class="bx bx-heart text-danger"></i> by<a
                            href="https://www.youtube.com/channel/UCYMEEnLzGGGIpQQ3Nu_sBsQ"
                            class="text-white">J3UDY</a></p>
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <a href="https://web.facebook.com/steby.dieuyel"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>